.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  min-height: 100vh;
  background-image: radial-gradient(rgb(164, 234, 254), rgb(232, 244, 248));
  padding: 80px;
  padding-top: 10px;
}

img {
  min-height: 10px;
  height: 10px;
  width: 200px;
}